/* max-width: 480px */
.logo {
  flex: 0 0 100%;
}

.title {
  flex: 0 0 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav,
nav ul,
nav li {
  padding: 0;
  margin: 2px;
}

nav {
  float: none;
  width: auto;
}

ul.nav-icon {
  display: block;
}

nav ul {
  text-align: center;
}

nav li {
  display: block;
  border-bottom-style: solid;
  border-width: 1px;
}

nav a {
  display: block;
  border-bottom: none;
}

nav a {
  border-style: none;
}

main {
  width: 100%;
}

aside {
  width: 100%;
  margin-top: 10px;
}

/* description panel */
figure#profile-pic {
  text-align: center;
}

figure#profile-pic img {
  float: none;
  max-width: 50%;
  /* height: auto; */
  /* position: relative; */
  /* top: -35px; */
}

/* grid to flex on about page */

input#checkbox-grid {
  display: none;
}

#checkbox-grid:not(:checked) ~ div {
  display: flex;
}

#checkbox-grid:checked ~ div {
  display: flex;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto auto auto; */
  animation: mymove 5s;
  animation-iteration-count: unset;
}

.grid-container > div {
  flex: 1 1 40%;
}

label[for="checkbox-grid"] {
  display: none;
}

nav {
  margin-bottom: 8px;
}
