/*
Meets the following WCAG 2.1 success criteria:
Contrast (Minimum) Level AA
Non-text Content Level A
Text Spacing Level AA
Content on Hover or Focus Level AA
*/
/*
W3C Markup Validation Service results (https://validator.w3.org/):
"Document checking completed. No errors or warnings to show."
*/
/*
W3C CSS Validator results for styles.css (http://jigsaw.w3.org/css-validator/):
"Congratulations! No Error Found. This document validates as CSS level 3 + SVG !"
*/
/* Some RULES to ADD YOUR CSS:
1> Changing CSS for general elements like <p>, <main>, <a>, etc will make the codes conflict.
2> Always use classes or ids to make CSS changes to elements.
3> Make sure the class names haven't already been used*/
/* Some instructions:
1> Use alt tags for images
2> use roles for divs wherever possible
3> one table component is mandatory
4> Utilize Float, FlexBox or CSS Grid for responsiveness  */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  /*font-family: 'Lato', sans-serif;*/
  /* font-family: "Roboto", sans-serif; */
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

header,
nav,
main,
footer,
figure,
figcaption {
  display: block;
}

* {
  box-sizing: border-box;
}

nav {
  float: left;
  width: 150px;
  letter-spacing: 0.1em;
  font-weight: bold;
  background-color: gainsboro;
  border-style: dashed;
  border-width: 4px;
  border-radius: 18px;
  /* position: fixed; */
}

a {
  /* display: block; */
  outline: none;
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
}

nav ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}

nav li {
  padding: 15px;
}

nav a {
  text-decoration: none;
  border-bottom: 2px ridge #0046c6;
}

nav a:hover {
  color: #0046c6;
}

.nav-links li:hover {
  background-color: #acc1d4;
}

.nav-links a:active {
  color: black;
  border-bottom: 2px ridge #0046c6;
  background-color: #5a4ae3;
}

.highlighted-nav {
  background-color: #5a4ae3;
  /* color: black; */
}

.highlighted-nav a {
  color: white;
}

main {
  margin: 0;
  border: 0;
  outline: 0;
  /* vertical-align: baseline; */
  float: left;
  /* width: calc(100% - 150px); */
  border-style: dashed;
  border-width: 4px;
  border-radius: 18px;
  background-color: gainsboro;
  padding: 0;
}

aside {
  padding-left: 0.5rem;
  /* margin-left: 0.5rem; */
  float: right;
  /* box-shadow: inset 5px 0 5px -5px #29627e; */
  font-style: italic;
  color: #29627e;
  float: left;
  letter-spacing: 0.1em;
  font-weight: bold;
  background-color: gainsboro;
  border-style: dashed;
  border-width: 4px;
  border-radius: 18px;
}

aside {
  background: #f0f7ff;
  padding: 20px;
}

aside ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

aside li:hover {
  position: relative;
  right: -5px;
}

header {
  text-align: center;
  font-size: xx-large;
  background-color: gainsboro;
  border-style: dashed;
  border-width: 4px;
  border-radius: 18px;
}

footer {
  text-align: center;
  border-style: dashed;
  border-width: 4px;
  border-radius: 18px;
  background-color: gainsboro;
  line-height: 45px;
}

footer > div:nth-child(3) {
  font-size: x-small;
  line-height: normal;
}

@media (max-width: 1024px) {
  nav {
    float: none;
    width: auto;
  }

  nav li {
    display: inline-block;
    padding: 0.5em;
  }

  nav ul {
    text-align: center;
  }

  nav a {
    border-style: none;
  }
}

@media (max-width: 768px) {
  nav,
  nav ul,
  nav li {
    padding: 0;
    margin: 2px;
  }

  nav li {
    display: block;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 5px;
    /* height: 50px; */
  }

  nav a {
    display: block;
    /* padding: 0.5em 0; */
    /* border-width: 2px; */
    /* border-style: solid; */
    border-bottom: none;
  }
}

/* CSS for HTML elements ENDS-------------------------------------------------------- */
/* Contribution of: Uzair Ahmed Syed usyed6155@conestogac.on.ca---------------------- */
.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  flex: 0 0 150px;
}

.logo img {
  height: 150px;
}

.logo figcaption {
  font-size: xx-small;
}

.title {
  flex: 0 0 calc(100% - 150px);
}

.title-content {
  /* width: 400px; */
  margin: auto;
}

.clear {
  clear: both;
  width: 0;
}

.hide-li {
  display: none;
}

.nav-icon {
  display: none;
}

.social-links li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.social-links a {
  display: block;
}

.social-links a:hover {
  position: relative;
  top: -5px;
}

@media (max-width: 768px) {
  ul.nav-icon {
    display: block;
  }

  ul.nav-links {
    display: none;
  }

  nav:hover > ul.nav-links {
    display: block;
  }

  .logo {
    flex: 0 0 100%;
  }

  .logo img {
    height: 100px;
  }

  .title {
    flex: 0 0 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* Common CSS ENDS------------------------------------------------------------------- */
/* Contribution of: Uzair Ahmed Syed usyed6155@conestogac.on.ca---------------------- */
.description-panel table {
  width: 100%;
  border-collapse: collapse;
}

.description-panel td,
.description-panel th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.description-panel tr:nth-child(even) {
  background-color: #ffffff;
}

figure#profile-pic img {
  float: right;
  max-width: 50%;
  /* height: auto; */
  /* position: relative; */
  /* top: -35px; */
}

hr {
  clear: both;
}

/* Index page CSS ENDS------------------------------------------------------------------- */
/* Contribution of: Uzair Ahmed Syed usyed6155@conestogac.on.ca---------------------- */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.row {
  margin-left: -9px;
  margin-right: -9px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: row;
}

.flex-head {
  flex: 0 0 100%;
  color: #02488e;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.flex-item {
  overflow: hidden;
  text-align: center;
  float: left;
  border-style: solid;
  border-width: 1px;
  margin: auto;
}

.img-hover-zoom {
  overflow: hidden;
  transition: transform 0.2s;
}

.gal-item {
  padding: 15px;
  display: block;
}

.gal-img-container img {
  width: 100%;
  height: auto;
}

.gal-img-container:hover img {
  transform: scale(1.5);
}

.text_feat {
  padding: 15px;
  text-align: center;
}

#checkbox-flex:checked ~ div {
  display: inline;
}

#checkbox-flex:not(:checked) + div {
  display: flex;
}

.description-panel {
  margin: 20px;
  font-family: sans-serif;
  line-height: 35px;
}

label[for="checkbox-flex"] {
  float: right;
  font-size: small;
}

input#checkbox-flex {
  float: right;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .flex-item {
    flex: 1 1 auto;
    max-width: 45%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .flex-item {
    flex: 1 1 auto;
    max-width: 33%;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1292px;
  }

  .flex-item {
    flex: 1 1 auto;
    max-width: 33%;
  }
}

/* unvisited link */
.description-panel ul li a:link {
  color: red;
}

/* visited link */
.description-panel ul li a:visited {
  color: green;
}

/* mouse over link */
.description-panel ul li a:hover {
  color: hotpink;
}

/* selected link */
.description-panel ul li a:active {
  color: blue;
}

video {
  max-width: 70%;
  height: auto;
}

div#video-div {
  text-align: center;
}

#video-div h4 {
  color: #02488e;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Page 2 CSS ENDS------------------------------------------------------------------- */
/* Contribution of: Uzair Ahmed Syed usyed6155@conestogac.on.ca---------------------- */
#checkbox-grid:checked ~ div {
  display: inline;
}

#checkbox-grid:not(:checked) ~ div {
  display: grid;
}

label[for="checkbox-grid"] {
  float: right;
  font-size: small;
}

input#checkbox-grid {
  float: right;
}

/* #checkbox-grid:checked ~ div[class="grid-container"] img {
    /* width: auto;
    float: left;
} */
#checkbox-grid:checked ~ div[class="grid-container"] div {
  width: 30%;
  height: auto;
  float: left;
}

/* animation from https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_anim_grid-gap */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(11, 5vw); */
  grid-gap: 10px;
  /* grid-template-columns: auto auto auto auto; */
  animation: mymove 5s;
  animation-iteration-count: unset;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#checkbox-grid:checked ~ div[class="grid-container"] img {
  border-style: solid;
  border-width: 1px;
}

.grid-container figcaption {
  font-size: xx-small;
  text-align: end;
}

.grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
}

.grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.grid-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 8;
}

.grid-item-5 {
  grid-column: 3 / 4;
  grid-row: 5 / 8;
}

.grid-item-6 {
  grid-column: 2 / 3;
  grid-row: 7 / 11;
}

.grid-container figcaption {
  font-size: xx-small;
}

/* animation from https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_anim_grid-gap */
@keyframes mymove {
  50% {
    grid-gap: 15px;
  }
}

p.w3c-validation {
  position: fixed;
  bottom: 0;
  right: 0;
}
